<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lead_image %>
    <%= image_tag(@post.lead_image :medium) %>
    <small>1200x400px is a nice size for a photo here.</small>
    <%= f.file_field :lead_image %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, id: 'edit', rows: "20" %>
  </div>
  <div class="field active">
    <%= f.label :active, "Active?", class: "active__label" %>
    <%= f.check_box :active, class: "active__check" %>
  </div>
<% if  @contributors.length > 0 %>
  <div class="field show-contributor">
    <%= f.label :show_contributor, "Show Contributor?", class: "show-contributor__label" %>
    <%= f.check_box :show_contributor, class: "show-contributor__check" %>
  </div>
  <div class="field contributor-id">
    <%= f.label :contributor_id, class: "contributorid__label" %>
    <%= f.select :contributor_id, @contributors.map{ |c| [c.name, c.id]}, :include_blank => "-- No contributor --" %>  
  </div>
<% end %>
  <div class="actions">
    <%= f.submit class: 'btn btn--safe' %>
  </div>
<% end %>