<p id="notice"><%= notice %></p>

<h2>Blog Posts listing</h2>

<div class="blog">
	<% @posts.each do |post| %>
	  <div class="blog__post">
		  <h2 class="blog__title"><%= post.title %></h2>
		  <p class="blog__content"><%= post.content %></p>
		  <p class="blog__active"><%= post.active %></p>
		  <%= link_to 'Show', post %>
		  <%= link_to 'Edit', edit_post_path(post) %>
		  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
	  </div>
	<% end %>
</div>

<%= link_to 'New Post', new_post_path %>