<div class="blog">
	<% if @posts.length > 0 %>
	<% @posts.each do |post| %>
	  <div class="blog__post">
		  <%= link_to post do %>
				<div class="blog__content">
				<div class="blog__image" style="background-image: url(<%= post.lead_image :medium %>)"></div>
					<!-- <%= image_tag post.lead_image :medium %> -->
				  <div class="blog__text">
				  	<h2 class="blog__title"><%= post.title %></h2>
				  	<small><%= post.created_at.strftime("%m/%d/%Y") %></small>
				  	<p class="blog__content"><%= post.content_preview %></p>
				  </div>
				</div>
		  <% end %>
		  <% if user_signed_in? %>
			  <%= link_to 'Edit', edit_post_path(post) %>
			  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
	  </div>
	<% end %>
	<% elsif %>
		<p>Sorry, nothing to see here, yet. Please check back soon.</p>
	<% end %>

	<%= will_paginate @posts %>

</div>

<% if user_signed_in? %>
	<%= link_to 'New Post', new_post_path, class:'btn' %>
<% end %>