<section class="hero">
	<h1 class="hero__title">Rails Church: Naive explorations in rails for developers</h1>
	<p class="hero__tagline">Stream of consciousness adventures in rails, for better or worse</p>
</section>
<div class="blog">
	<% if @posts.length > 0 %>
		<% @posts.each do |post| %>
		  <article class="blog__post">
			  <%= link_to post do %>
					<div class="blog__container">
						<div class="blog__image" style="background-image: url(<%= asset_path(post.lead_image :medium) %>)"></div>
					  <div class="blog__text">
					  	<h2 class="blog__title"><%= post.title %></h2>
					  	<span class="blog__content"><%= post.content_preview %></span>
					  </div>
					</div>
			  <% end %>
		  	<% unless post.active %>
						<div class="unpublished">
							<div class="unpublished__banner">Inactive</div>
						</div>
		  	<% end %>
			  <% if user_signed_in? %>
				  <div class="admin__buttons">
				  	<%= link_to 'Edit', edit_post_path(post), class: 'btn btn--safe btn--small' %>
				  	<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--danger btn--small' %>
			  	</div>
				<% end %>
		  </article>
		<% end %>
	<% elsif %>
		<p>Sorry, nothing to see here, yet. Please check back soon.</p>
	<% end %>

</div>
<% if user_signed_in? %>
	<%= link_to 'New Post', new_post_path, class:'btn btn--safe' %>
<% end %>

<div class="apple_pagination">
	<%= will_paginate @posts, :previous_label => '<i class="fa fa-angle-double-left"></i>', :next_label => '<i class="fa fa-angle-double-right"></i>' %>
</div>
