<section>
	<%= image_tag @post.lead_image.url(:full), class: "lead_image" %>
</section>
<article class="blog post__show">
	<h2 class="blog__title">
	  <%= @post.title %>
	</h2>
	<p class="blog__date"><%= @post.updated_at.strftime("%A %B %d, %Y") %></p>
	
	<div class="blog__content rte fr-view">
		<%= raw @post.content %>
	</div>
	
<% if @post.show_contributor %>
		<% if @contributor != nil %>
			<%= render partial: 'contributors/contributor_card', locals: {contributor: @contributor} %>
		<% end %>
<% end %>
	
	<% if user_signed_in? %>
		<p class="published-tag">
		  <strong>Active:</strong>
		  <span class="<%= @post.active ? 'active' : 'inactive' %>">
		  	<%= @post.active %>
	  	</span>
		</p>
	
		<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn--safe' %>
		<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--danger' %>
	<% end %>
	
	<%= link_to 'Back', posts_path, class: 'btn' %>

	<% unless @post.active %>
		<div class="unpublished">
			<div class="unpublished__banner unpublished__banner--show">Inactive</div>
		</div>
	<% end %>
</article>