<section>
	<%= image_tag @post.lead_image.url(:full), class: "lead_image" %>
</section>
<article class="blog">
	<h2 class="blog__title">
	  <%= @post.title %>
	</h2>
	<!-- <small><%= @post.created_at.strftime("%Y-%m-%d") %></small> -->
	
	<div class="blog__content rte fr-view">
		<%= raw @post.content %>
	</div>
	
	<% if user_signed_in? %>
		<p>
		  <strong>Active:</strong>
		  <%= @post.active %>
		</p>
	
		<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn--safe' %>
		<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--danger' %>
	<% end %>
	
	<%= link_to 'Back', posts_path, class: 'btn' %>

	<% unless @post.active %>
		<div class="unpublished">
			<div class="unpublished__banner unpublished__banner--show">Inactive</div>
		</div>
	<% end %>
</article>