<%= form_for(@contributor) do |f| %>
  <% if @contributor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contributor.errors.count, "error") %> prohibited this contributor from being saved:</h2>

      <ul>
      <% @contributor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, :placeholder => "(optional)" %>
  </div>
  <div class="field">
    <%= f.label :site, "Homepage" %>
    <%= f.text_field :site, :placeholder => "(optional)" %>
  </div>
  <div class="field">
    <%= f.label :twitter, "Twitter handle" %>
    <%= f.text_field :twitter, :placeholder => "(optional)" %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn--safe' %>
  </div>
<% end %>