<!DOCTYPE html>
<html>
<head>
  <title>Rails Church</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="wrapper">
			<%= link_to root_path do %>
				<h1 class="logo">Rails Church</h1>
			<% end %>
			<nav class="nav">
				<ul class="nav__list">
					<li><a href="">About</a></li>
					<li><a href="">Link 2</a></li>
					<li><a href="">Link 3</a></li>
					<% if user_signed_in? %>
					  <li>
					  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
					  </li>
					<% else %>
					  <li>
					  <%= link_to('Login', new_user_session_path)  %>  
					  </li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>
	
	<section class="wrapper">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<!-- <p id="notice"><%= notice %></p> -->
		
		<%= yield %>
	</section>

	<footer class="footer">
		<div class="wrapper">
			<p>Rails Church &copy; Robin Hamill <%= Time.now.year %></p>
		</div>
	</footer>

</body>
</html>