<!DOCTYPE html>
<html>
<head>
  <title>Rails Church</title>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Quattrocento" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="header">
		<div class="wrapper header__wrapper">
			<%= link_to root_path, class: 'logo' do %>
				<div class="logo__image">
					<%= image_tag 'rails_church.png', alt: 'Rails Church Logo' %>
				</div> 
				<h1 class="logo__text"> Rails Church</h1>
			<% end %>
			<nav class="nav">
				<ul class="nav__list">
					<% if user_signed_in? %>
					  <li>
					  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
					  </li>
					<% else %>
					  <li>
					  <%= link_to('Login', new_user_session_path)  %>  
					  </li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper">
		<section>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>

			<%= yield %>

		</section>
	</div> <!-- /.wrapper -->

	<footer class="footer">
		<div class="footer__wrapper wrapper">
			<p class="footer__copy"><i class="fa fa-diamond" aria-hidden="true"></i>
 Rails Church &copy; <%= link_to "Robin Hamill", "http://www.robinhamill.ca", target: '_blank' %> <%= Time.now.year %></p>
		</div>
	</footer>

	<script>
	  jQuery(document).ready(function($){
	    Rainbow.color();
	  });
	</script>
</body>
</html>